.hive {
  width: 100%;
  text-align: left;
}
label {
  text-align: left;
}
.hive::after {
  content: "";
  display: block;
  clear: both;
}

.hiveNumberInput {
  float: left;
  width: 50%;
  margin-right: 5px;
}

.hiveTypeInput {
  float: left;
  width: 100%;
}

.hiveNumberButton {
  float: left;
  width: 40%;
}

.navLink {
  font-weight: normal;
  color: black;
}

/* visited link */

/* mouse over link */
.navLink:hover {
  color: black;
  background: rgb(214, 210, 210);
}

/* selected link */
.navLink:active {
  color: black;
  background: rgb(214, 210, 210);
}

.left {
  float: left;
}

.left2 {
  overflow: hidden;
  display: block;
  padding: 0 4px 0 10px;
}
.left2 input {
  width: 50%;
}
